<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Khirod_project23</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
  <servlet-name>test</servlet-name>
  <servlet-class>com.khirod.kp.TestServlet</servlet-class>
  
  <init-param>
  <param-name>class</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </init-param>
  
  <init-param>
  <param-name>url</param-name>
  <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </init-param>
  
  <init-param>
  <param-name>username</param-name>
  <param-value>MANAGER</param-value>
  </init-param>
  
  <init-param>
  <param-name>password</param-name>
  <param-value>SYSTEM</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>test</servlet-name>
  <url-pattern>/testurl</url-pattern>
  </servlet-mapping>
</web-app>